/*
 *  Fullcalendar component
 * --------------------------------------------------*/

// Variables
// -------------------------
@fc-selection-bg-color: @pxl-color-rentals;
@fc-past-bg-color: #f6f6f6;

@fc-event-height: 20px;
@fc-event-bg-color: lighten(@pxl-color-rentals, 10%);
@fc-event-border-color: lighten(@pxl-color-rentals, 10%);

// Mixins
// -------------------------



// General settings
// -------------------------
.fullcalendar {
  .fc-header {
    .fc-header-left {

    }
    .fc-header-center {

    }
    .fc-header-right {

    }
    .fc-header-title {
      h2 {
        margin: 0;
        padding: 5px 0 0;
        #pxl-mixins.title();
      }
    }
    .fc-header-space {
      padding-left: 5px;
    }

    .fc-button-prev, .fc-button-next, .fc-button-today {
      margin: 0;
      padding: 0;
      border: 1px solid @pxl-color-rentals;
      #pxl-mixins.border-radius(0);
      background: none;
    }
    .fc-button-today {
      padding: 0 0.6em;
    }
  }

  .fc-content {
    font-family: @pxl-text-font;

    .fc-view-month {
      .fc-cell-overlay {
        // selection
        background-color: @fc-selection-bg-color;
      }

      .fc-event-container {
        .fc-event {
          height: @fc-event-height;
          border: 1px solid @fc-event-border-color;
          #pxl-mixins.border-radius(0);
          background-color: @fc-event-bg-color;

          .fc-event-title {
            display: none;
          }
        }
      }

      table {
        thead {
          tr {
            th.fc-day-header {

            }
          }
        }

        tbody {
          tr.fc-week {
            td.fc-day {
              .fc-day-number {

              }

              .fc-day-content {

              }

              &.fc-past {
                background-color: @fc-past-bg-color;
              }

              &.fc-today {

              }

              &.fc-future {

              }

              &.fc-other-month {

              }
            }

          }
        }
      }
    }
  }
}
