/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------
@paragraph-max-width: 1000px;
@paragraph-margin-bottom: 50px;


// Mixins
// -------------------------


// General settings
// -------------------------
.node.node-page.view-mode-full {
  >.row {
    >div.col-sm-12 {
      width: 100%;

      >.field-name-title {
        display: none;

        h2 {
          margin: 0 0 30px;
          #pxl-mixins.title();
        }
      }

      >.field-name-body {
        margin: 0 0 40px;
        #pxl-mixins.wysiwyg-body();
      }

      >.paragraphs-items {
        >.field-name-field-paragraphs {
          >.field-items{
            >.field-item {
              &:not(:last-child) {
                margin-bottom: @paragraph-margin-bottom;
              }

              // see paragraph-item-... less files
            }
          }
        }
      }

    }
  }

  &.page-about {
    >.row {
      >div.col-sm-12 {
        width: 100%;

        >.field-name-title {
          display: block;
          h2 {
            text-align: center;
            color: @pxl-color-about;
          }
        }
      }
    }
  }
}
